{% extends 'base.html' %} {% block titulo %} Empresa {% endblock %}
{% block contenido_que_cambia %} 


<a href="/business/stores_list" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Locales</a>
<a href="/business/new_store" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Crear nuevo local</a>
<a href="/business/opinions_list" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Comentarios de clientes</a>
<a href="/business/new_opinion" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Crear nuevo comentario</a>
<a href="/admin" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Panel Administrador</a>

{% endblock %}
