{% extends 'base.html' %} {% block titulo %} Borrar Producto {% endblock %} {%
  block contenido_que_cambia %} {%for product in products%}
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="https://images.unsplash.com/photo-1625763689440-74d0f74d604d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
      width="25%"
      height="25%"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">Precio: {{product.price}}</p>
      <p class="card-text">Stock: {{product.stock}}</p>
      <p class="card-text">Descripción: {{product.description}}</p>
      <p class="card-text">Tamaño: {{product.size}}</p>
      <a href="{% url 'Delete_product' product.id %}" class="btn btn-btn-danger">Borrar</a>
    </div>
  </div>
  {%endfor%} {% endblock %}
 