{% extends 'base.html' %} {% block titulo %} TIENDA {% endblock %}
{% block contenido_que_cambia %} 
<div class="container">
  <center>
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
    <h1 class="display-4">¡BIENVENIDO A TIENDA!</h1>
    <img src="https://images.unsplash.com/photo-1472851294608-062f824d29cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" width="70%" height="70%" alt="tienda">
    <h3 class="my-1" style="color:#00bfff;">Somos una marca de indumentaria femenina</h3>
    <hr class="my-4">
    <h4>En TIENDA, vas a encontrar prendas unicas con un estilo moderno y sobre todo cómodas. Recorre la pagina para encontrar los productos ideales para vos!</h4>
  </div>
    </div>
  </div>
  </center>
</div>

{% endblock %}


