
{% extends 'base.html' %}

{% block titulo %}
Borrar perfil
{% endblock %}

{% block contenido_que_cambia %}

<p>Nombre: {{user.profile.name}}</p>
    <p >Apellido: {{user.profile.surname}}</p>
    <p >Email: {{user.profile.email}}</p>
    <p >Fecha de nacimiento: {{user.profile.birth_date}}</p>
    <p >Telefono: {{user.profile.phone_number}}</p>
    <p >Direccion: {{user.profile.address}}

<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Borrar">
</form>



{% endblock %}