{% extends 'base.html' %} {% block titulo %} Ver Perfil {% endblock %} {% block contenido_que_cambia %}

<section class="vh-100" style="background-color: #f4f5f7">
  <div class="container py-5 h-100">
    <h1 class="display-4 my-3 text-center">PERFIL</h1>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <div class="row g-0">
            <div
              class="col-md-4 gradient-custom text-center text-black"
              style="
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
              "
            >
              {%if profile.imagen%}
              <img
                src="{{profile.imagen.url}}"
                alt="imagen"
                class="img-fluid my-5"
                style="width: 100px"
              />
              {%endif%}

              <h5>{{profile.user.username}}</h5>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Informacion</h6>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{profile.user.email}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Descripcion</h6>
                    <p class="text-muted">{{profile.description}}</p>
                  </div>
                </div>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>URL</h6>
                    <p class="text-muted">{{profile.url}}</p>
                  </div>
                  <div class="col-6 mb-3"></div>
                  <div>
                    <p>
                      <a href="{% url 'update-profile' %}" class="btn btn-primary btn-block">
                      Editar</a>
                    </p>
                  </div>
                  <div>
                    <p>
                      <a href="{% url 'update-password' %}" class="btn btn-danger btn-block">
                      Cambiar contraseña</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
