{% extends 'base.html' %}

{% block titulo %}
Editar perfil
{% endblock %}

{% block contenido_que_cambia %} 
<form action="" method="POST">
    {% csrf_token %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <center>
                <h3 class="display-4 my-3">Editar mi perfil</h3>
                <h5 >@{{user.username}}</h5>
                <table>
    
        {{form.as_table}}
    
    </table>
    
    <p><input type="submit" value="Guardar cambios"></p>
    
    </form>
{% endblock %}