{% extends 'base.html' %}

{% load static %}
<link rel="shortcut icon" href="{% static 'media/about/Carolina_PEREIRA.jpeg' %}">


{% block titulo %} About us {% endblock %}


{% block contenido_que_cambia %} 

<body background="https://img.freepik.com/fotos-premium/fondo-pared-pintada-cemento-textura-color-pastel-azul-bebe_92056-1192.jpg?w=740">

<center>
<font color=>
    <h1 class="display-3 my-1"; style="font-family:Georgia, 'Times New Roman', Times, serif; color: rgb(219, 121, 65);">E S S E N C E</h1>
</font>
</center>

<center>
    <div class="container-fluid"; style="background-color: rgba(231, 122, 49, 0.541);">
            <h5 class="display-4 my-1" style="font-family:'Courier New', Courier, monospace; font-variant:small-caps; color: rgb(244, 245, 247);"> SOBRE NOSOTROS</h5>

            <h5 class="d-block p-2 text-white" style="font-style:normal; font-family:'Courier New', Courier, monospace; color: rgb(223, 238, 241);">Este es un proyecto que nace de tres mujeres emprendedoras que buscaban su libertad e independencia.
                <br/>Actualmente se ha convertido para nosotras en un proyecto conjunto, que tiene como objetivo transmitir con cada producto calidad, excelencia 
                y amor a sus clientes, de una manera sustentable y amigable con nuestro planeta.
                Somos fabricantes de nuestra propia marca de indumentaria y con cada prenda buscamos que te sientas vos: 
                segura, libre, confiada. 
                <br/>Podrás encontrar los medios para contactarnos a través de nuestra página.
            </h5>
    </div>    
</center>
  </div>

<center>
  <div class="container" style="display: flex; justify-content: center;">

      <div class="card text-white" style="width: 18rem; margin: 20px; background-color: rgba(223, 100, 100, 0.637);">
          <img
            class="image"
            src="{% static '/images/catalina.jpg' %}"
            alt="No image"
          />
          <div class="card-body">
            <h5 class="card-title">Catalina Banchieri</h5>
            <p class="card-text">23 años</p>
            <p class="card-text">Co-fundadora de ESSENCE</p>
          </div>
        </div>

      <div class="card text-white" style="width: 18rem; margin: 20px; background-color: rgba(223, 100, 100, 0.637);">
        <img
          class="image"
          src="{% static '/images/carolina.jpeg' %}"
          alt="Carolina Pereira"
        />
        <div class="card-body">
          <h5 class="card-title">Carolina Pereira</h5>
          <p class="card-text">32 años</p>
          <p class="card-text">Co-fundadora de ESSENCE</p>
        </div>
      </div>

      <div class="card text-white" style="width: 18rem; margin: 20px; background-color: rgba(223, 100, 100, 0.637);">
        <img
          class="image"
          src="{% static '/images/sofia.jpg' %}"
          alt="No image"
        />
        <div class="card-body">
          <h5 class="card-title">Sofía Abati</h5>
          <p class="card-text">21 años</p>
          <p class="card-text">Co-fundadora de ESSENCE</p>
        </div>
      </div>

  </div>

</center>
  
</body>
{% endblock %}