{% extends 'base.html' %} {% block titulo %} About us {% endblock %}


{% block contenido_que_cambia %} 
<center>
<font color="purple">
    <h1 class="display-3 my-3"; style="background-color:rgba(228, 140, 143, 0.438); font-family:'Times New Roman', Times, serif; font-style:italic;">E S S E N C E</h1>
</font>
</center>
<center>
    <div class="container-fluid"; style="background-color:lightpink;">
        <font color="White"; face="Brush Script MT,verdana">
            <h3 class="display-4 my-1">Sobre nosotras</h3>
        </font>
        <font face="Didot"></font>
            <h4 class="d-block p-2 text-white"; style="font-style:oblique; font-family:'Times New Roman', Times, serif;">Este es un proyecto que nace de tres mujeres emprendedoras que buscaban su libertad e independencia.
                <br/>Actualmente se ha convertido para nosotras en un proyecto conjunto, que tiene como objetivo transmitir con cada producto calidad, excelencia 
                y amor a sus clientes, de una manera sustentable y amigable con nuestro planeta.
                Somos fabricantes de nuestra propia marca de indumentaria y con cada prenda buscamos que te sientas vos: 
                segura, libre, confiada. 
                <br/>Podrás encontrar los medios para contactarnos a través de nuestra página.
            </h4>
        </font>
    </div>    
</center>
  </div>

<div class="container mt-3">
    <center>
        <div class="card" style="width: 12rem">
          <img
            class="image"
            src="https://images.unsplash.com/photo-1581067721837-e4809b29692d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
            alt="No image"
          />
          <div class="card-body">
            <h5 class="card-title">Carolina Pereira</h5>
            <p class="card-text"> 32 años </p>
            <p class="card-text">Co-fundadora de ESSENCE</p>
          </div>
        </div>
    </center>
</div>

<div class="container mt-3">
    <center>
        <div class="card" style="width: 12rem">
          <img
            class="image"
            src="https://images.unsplash.com/photo-1581067721837-e4809b29692d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
            alt="No image"
          />
          <div class="card-body">
            <h5 class="card-title">Catalina Banchieri</h5>
            <p class="card-text"> 23 años </p>
            <p class="card-text">Co-fundadora de ESSENCE</p>
          </div>
        </div>
    </center>
</div>

<div class="container mt-3">
    <center>
        <div class="card" style="width: 12rem">
          <img
            class="image"
            src="https://images.unsplash.com/photo-1581067721837-e4809b29692d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
            alt="No image"
          />
          <div class="card-body">
            <h5 class="card-title">Sofía Abati</h5>
            <p class="card-text"> 21 años </p>
            <p class="card-text">Co-fundadora de ESSENCE</p>
          </div>
        </div>
    </center>
</div>
{% endblock %}