{% extends 'base.html' %} {% block titulo %} About us {% endblock %}

{% block contenido_que_cambia %} 
<center>
<h1 class="display-4 my-3">ESSENCE</h1>
</center>
<center>
    <div class="container-fluid">
        <h3>Sobre nosotras</h3>
        <p>Este es un proyecto que nace de 3 mujeres emprendedoras que buscaban su libertad e independencia.
            Actualmente se ha convertido para nosotras en un proyecto conjunto, que tiene como objetivo transmitir con cada producto calidad, excelencia 
            y amor a sus clientes, de una manera sustentable y amigable con nuestro planeta.
            Somos fabricantes de nuestra propia marca de indumentaria y con cada prenda buscamos que te sientas vos: 
            segura, libre, confiada. 
            Podrás encontrar los medios para contactarnos a través de nuestra página.
        </p>
    </div>    
</center>
  </div>

  <div class="container mt-3">
    <center>
        <div class="card" style="width: 12rem">
          <img
            class="image"
            src="https://images.unsplash.com/photo-1581067721837-e4809b29692d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
            alt="No image"
          />
          <div class="card-body">
            <h5 class="card-title">Catalina Banchieri</h5>
            <p class="card-text"> 32 años </p>
            <p class="card-text">Co-fundadora de ESSENCE</p>
          </div>
        </div>
    </center>
  </div>

  <div class="container mt-3">
    <center>
        <div class="card" style="width: 12rem">
          <img
            class="image"
            src="https://images.unsplash.com/photo-1581067721837-e4809b29692d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
            alt="No image"
          />
          <div class="card-body">
            <h5 class="card-title">Catalina Banchieri</h5>
            <p class="card-text"> 32 años </p>
            <p class="card-text">Co-fundadora de ESSENCE</p>
          </div>
        </div>
    </center>
  </div>

  <div class="container mt-3">
    <center>
        <div class="card" style="width: 12rem">
          <img
            class="image"
            src="https://images.unsplash.com/photo-1581067721837-e4809b29692d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
            alt="No image"
          />
          <div class="card-body">
            <h5 class="card-title">Catalina Banchieri</h5>
            <p class="card-text"> 32 años </p>
            <p class="card-text">Co-fundadora de ESSENCE</p>
          </div>
        </div>
    </center>
  </div>
{% endblock %}