{% extends 'base.html' %} {% block titulo %} Lista de opiniones{% endblock %}
{% block contenido_que_cambia %} 
<div class="container">
    <h1 class="display-4 mt-3 text-center">COMENTARIOS</h1>
  <div class="row">
{%for opinions in opinions%}
<div class="col col-lg-4">
<div class="card mt-3" style="width: 18rem">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1598363431659-330370aaaa7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" width="25%" height="25%" alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title">{{opinions.name}}</h5>
    <p class="card-text">Calificación: {{opinions.calification}}</p>
    <p class="card-text">Comentario: {{opinions.comment}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
{%endfor%} 
{% endblock %}
</div>
</div>
